#video-item-search {
  position: relative;
  align-items: center;
  background: #ffffff;
  width: 1300px;
  margin: 0 auto 50px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
#text-search {
  margin-left: 350px;
  margin-top: -180px;
  text-align: center;
  align-items: center;
}
.btn-search {
  background-color: red;
  margin: 0px 10px auto 350px;
}
