.video-item {
  display: flex !important;
  align-items: center !important;
  cursor: pointer;
}

.video-item.item img {
  width: 600px;
  max-height: 250px;
}
.title {
  font-size: 16px;
  width: 500px;
  font-weight: bold;
}

.description {
  font-size: 14px;
  color: grey;
}
