/* main {
  margin: 16px;
}

.navbar {
  display: flex;
  align-items: center;

  background: rgb(107, 104, 100);
  color: white;
  font-family: Helvetica;
  font-weight: 300;
}

.navbar__title {
  margin-right: auto;
  font-size: 150%;
  padding: 12px 16px;
}

.navbar__item {
  padding: 16px 16px;
  cursor: pointer;
  vertical-align: middle;
}

.search .srchbtn {
  background-color: darkgrey;
  padding: 10px;
  width: 106px;
  border-radius: 9px;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
} */

.Searchbox {
  text-size-adjust: 1500px;
}
